.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.aboutus-bg-section {
	position: relative;
	background: #005a8f;
	background: -moz-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -webkit-gradient(
		left bottom,
		right top,
		color-stop(0%, #73a8b9),
		color-stop(100%, #6d8f93)
	);
	background: -webkit-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -o-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -ms-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73A8B9', endColorstr='#6D8F93', GradientType=1 );
}
