.d-flex {
	display: flex;
}
.justify-content-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.aboutus-bg-section {
	position: relative;
	background: #005a8f;
	background: -moz-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -webkit-gradient(
		left bottom,
		right top,
		color-stop(0%, #73a8b9),
		color-stop(100%, #6d8f93)
	);
	background: -webkit-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -o-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: -ms-linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	background: linear-gradient(45deg, #73a8b9 0%, #6d8f93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73A8B9', endColorstr='#6D8F93', GradientType=1 );
}

#missao {
	margin-bottom: 260px;
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 21px;
	line-height: 1.71429;
	color: #002060;
	letter-spacing: 0.024em;
	word-spacing: 0.05em;
}

.container-fluid {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

/* Responsive Mobile */
@media (min-width: 220px) and (max-width: 568px) {
	.row-responsive {
		display: grid;
		grid-template-columns: auto;
		height: 500px;
	}
}

@media (min-width: 569px) and (max-width: 850px) {
	.row-responsive {
		height: 600px;
	}
}

@media (min-width: 340px) and (max-width: 500px) {
	.row-responsive {
		display: grid;
		height: 450px;
	}
}

@media (max-width: 1900px) {
	.max-screen-fixed {
		max-width: 1900px;
		margin: 0 auto;
	}
}

.row + .row {
	margin-top: 35px;
}

@media (min-width: 1200px) {
	.row + .row {
		margin-top: 60px;
	}
}

.position-relative {
	position: relative;
}

.titles {
	color: #457b98;
}

.top-left {
	position: absolute;
	top: 28px;
	right: 90%;
	width: 77%;
	cursor: auto;
}

.top-right {
	position: absolute;
	top: 25px;
	left: 85%;
	width: 76%;
	cursor: auto;
}

.titles-hover :hover {
	color: #5ab4c1;
}

.center-left {
	position: absolute;
	bottom: -28em;
	right: 95%;
	width: 80%;
	cursor: auto;
}

.center-right {
	position: absolute;
	bottom: -28em;
	left: 95%;
	width: 65%;
	cursor: auto;
}

.bottom-left {
	position: absolute;
	bottom: -39em;
	right: 55%;
	width: 100%;
	cursor: auto;
}

.bottom-right {
	position: absolute;
	bottom: -37.5em;
	left: 60%;
	width: 100%;
	cursor: auto;
}

.p-negrito {
	font-weight: bold;
}

.thumbnail-md {
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-classic {
	text-align: left;
	overflow: hidden;
}

.row + .row {
	margin-top: 35px;
}

@media (min-width: 1200px) {
	.row + .row {
		margin-top: 60px;
	}
}

* + .row {
	margin-top: 40px;
}
@media screen and (min-width: 992px) {
	#fh5co-services-section .width-adjust {
		width: 33.33333%;
	}
}
.overlay-blue {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #51809975;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.btn-login {
	padding: 6px 14px !important;
	color: #fff !important;
	background: #99c3e1 !important;
	box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
	border: unset;
	margin: 0px;
}

.btn-login:hover {
	background: #337ab7 !important;
}
